<section class="relative z-20 flex md:px-16 xl:px-32 2xl:px-64 4xl:px-96 5xl:px-120 mt-6">
    <div class="flex flex-col md:flex-row w-full bg-black py-4">
        <div class="w-min mx-auto md:ml-8 lg:ml-16 md:float-left text-2xl sm:text-3xl xl:text-4xl 2xl:text-5xl tracking-[.2em] text-white" style="font-family: 'Jacques Francois Shadow', serif;">MODATEL</div>
        <div class="flex MarginLA font-medium text-base sm:text-lg xl:text-xl text-white tracking-[.1em]" style="font-family: 'Roboto Mono', monospace; font-weight: 100;">
            <a href="../about_us" class="w-min mt-2 mx-1 sm:mx-4 ml-4 sm:ml-0 whitespace-nowrap">О нас</a>
            <a href="../privPol" class="w-min mt-2 mx-1 sm:mx-4 whitespace-nowrap">Privacy Policy</a>
            <a href="../contacts" class="w-min mt-2 mx-1 sm:ml-4 sm:pr-8 lg:pr-16 whitespace-nowrap">Контакты</a>
        </div>
    </div>
</section>
<section class="flex md:px-16 xl:px-32 2xl:px-64 4xl:px-96 5xl:px-120 mt-1 sm:mt-6 mb-1 sm:mb-6">
    <div class="w-min mx-auto whitespace-nowrap">© 2023 <a href="#">LeoBuild™</a>. All Rights Reserved.</div>
</section>