<section class="relative z-10 hidden lg:flex flex-col px-16 xl:px-32 2xl:px-64 4xl:px-96 5xl:px-120 mt-16 2xl:mt-24">
    <div class="flex w-full">
        <div class="flex w-full float-left">
            <a href="../" class="w-min px-10 py-0 bg-black text-3xl 2xl:text-4xl text-white tracking-[.25em]" style="font-family: 'IBM Plex Mono', monospace; font-family: 'Roboto', sans-serif;">MODATEL</a>
            <a href="/catalog" class="group relative overflow-hidden px-6">
                <div class="absolute z-0 w-full h-full -ml-6 bg-black translate-y-10 group-hover:translate-y-0 transition-all duration-200 ease-in-out"></div>
                <div class="relative z-10 text-2xl 2xl:text-3xl text-black group-hover:text-white font-medium tracking-[.15em] transition-all duration-200 ease-in-out" style="font-family: 'Roboto Mono', monospace;">каталог</div>
            </a>
            <a href="/gallery" class="group relative overflow-hidden px-6">
                <div class="absolute z-0 w-full h-full -ml-6 bg-black translate-y-10 group-hover:translate-y-0 transition-all duration-200 ease-in-out"></div>
                <div class="relative z-10 text-2xl 2xl:text-3xl text-black group-hover:text-white font-medium tracking-[.15em] transition-all duration-200 ease-in-out" style="font-family: 'Roboto Mono', monospace;">галерея</div>
            </a>
            <a href="/blog" class="group relative overflow-hidden px-6">
                <div class="absolute z-0 w-full h-full -ml-6 bg-black translate-y-10 group-hover:translate-y-0 transition-all duration-200 ease-in-out"></div>
                <div class="relative z-10 text-2xl 2xl:text-3xl text-black group-hover:text-white font-medium tracking-[.15em] transition-all duration-200 ease-in-out" style="font-family: 'Roboto Mono', monospace;">блог</div>
            </a>
        </div>
        <div class="float-right text-2xl 2xl:text-3xl whitespace-nowrap tracking-[.1em]">
            ʕ ᵔᴥᵔ ʔ
        </div>
    </div>
    <div class="w-full h-0 border-b-2 border-black border-solid"></div>
</section>
<section class="lg:hidden relative z-10 flex flex-col md:px-16 xl:px-32 2xl:px-64 4xl:px-96 5xl:px-120 md:mt-8">
    <div class="flex flex-col bg-black w-full h-auto py-1 px-2">
        <div class="text-white">
            <a class="float-left text-2xl" href="../" style="font-family: 'IBM Plex Mono', monospace; font-family: 'Roboto', sans-serif;">MODATEL</a>
            <div class="float-right text-2xl 2xl:text-3xl whitespace-nowrap tracking-[.1em]">
                ʕ ᵔᴥᵔ ʔ
            </div>
        </div>
        <div class="h-1 w-full border-b-2 border-dotted border-white">

        </div>
        <div class="flex">
            <a href="/catalog" class="group relative overflow-hidden pr-4">
                <div class="relative z-10 text-2xl text-white" style="font-family: 'Roboto Mono', monospace;">каталог</div>
            </a>
            <a href="/gallery" class="group relative overflow-hidden pr-4">
                <div class="relative z-10 text-2xl text-white" style="font-family: 'Roboto Mono', monospace;">галерея</div>
            </a>
            <a href="/blog" class="group relative overflow-hidden pr-4">
                <div class="relative z-10 text-2xl text-white" style="font-family: 'Roboto Mono', monospace;">блог</div>
            </a>
        </div>
    </div>
</section>